h1{
    background-color: #faac03;
    color:rgb(1, 1, 46);
    text-align: center;
    font-size: 250%;
    border: 2px solid rgb(13, 14, 14);
}

nav {
    background-color: rgb(225, 235, 235);
    padding-left: 25px;
    font-size:110%;
    border: 2px solid rgb(5, 5, 5);
    

}

section{
    background-color: #32536d;
    grid-column: 1/4;
    
}
aside{
    background-color: #24347e;
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman ';
    font-size: 110%;
    grid-column: 4/5;
    border: 2px solid rgb(5, 5, 5);
    
}
footer{
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    color: white;
    font-size: 110%;
    text-align: center;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 2px solid rgb(18, 19, 19);
}

#ini{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#imguno{
    display: block;
    margin: auto;
}

#imgdos{
    display: block;
    margin: auto;
}

#imgtres{
    display: block;
    margin: auto;
}
#imgcuatro{
    display: block;
    margin: auto;
}



